<h1 mat-headline>How to Hunt for Jabs (Extra Vaccine Doses)</h1>
<p>Clicking a link below will open this document in a new window, please then click the link again. <a href="https://docs.google.com/document/d/1qS3DYUy3un0xcQyl-2QttRjJu-W3ywWsi4x19qQww14/edit#">Contribute by making suggestions or updates to this information here.</a></p>
<a href='https://docs.google.com/document/u/4/d/e/2PACX-1vQMG9L-xyAUq9Rtjiu2daop3Gm1sfYygeqm2VPsrMQOLlNga046Jggk3aFfCN-h8poBMjfz6vhnNuTs/pub'>
<ngx-doc-viewer
    disableContent="all"
    url='https://docs.google.com/document/u/4/d/e/2PACX-1vQMG9L-xyAUq9Rtjiu2daop3Gm1sfYygeqm2VPsrMQOLlNga046Jggk3aFfCN-h8poBMjfz6vhnNuTs/pub?embedded=true'
    viewer='url'
    style='width:100%;height:1000vh;'
></ngx-doc-viewer>
</a>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->