<h1>Booking a Vaccine Appointment</h1>
<p>Clicking a link below will open this document in a new window, please then click the link again. <a href="https://docs.google.com/document/d/1gZYve9mZD0-m_Djk2HmNsbQPs6CrI3dcsHRBJQH40gs/edit#">Contribute by making suggestions or updates to this information here.</a></p>
<a href='https://docs.google.com/document/d/e/2PACX-1vRhiC902E4cQWyYLJteE7olLpMReURf4TI_LN5uQU4_b6z5eb72FTTJjx8NhbLJ-74TYBL6Jam3VuCr/pub'>
<ngx-doc-viewer
    disableContent="all"
    url='https://docs.google.com/document/d/e/2PACX-1vRhiC902E4cQWyYLJteE7olLpMReURf4TI_LN5uQU4_b6z5eb72FTTJjx8NhbLJ-74TYBL6Jam3VuCr/pub?embedded=true'
    viewer='url'
    style='width:100%;height:1000vh;'
></ngx-doc-viewer>
</a>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->