<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <a color="primary" routerLink="/home">JabHunter</a>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon help-icon" aria-label="Help">
    <mat-icon>help</mat-icon>
  </button>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>
