<mat-toolbar color="primary">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <button mat-icon-button routerLink="/home"><mat-icon>home</mat-icon></button> <a href routerLink="/">JabHunter</a>
  <span class="example-spacer"></span>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScLDkpL6MFfeY2r6xZdyTrB94ZXT5P4XJN6c2tRcdwMDwtuMg/viewform">
      <button mat-icon-button color="accent" aria-label="Help"><mat-icon>post_add</mat-icon></button>
  </a>
  <a routerLink="/faq">
    <button mat-icon-button aria-label="Help">
      <mat-icon>help</mat-icon>
    </button>
  </a>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>

