<mat-toolbar color="primary">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <a routerLink="/home">JabHunter</a>
  <span class="example-spacer"></span>
  <a routerLink="/faq">
    <button mat-icon-button class="example-icon" aria-label="Help">
      <mat-icon color="accent">help</mat-icon>
    </button>
  </a>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>
