<h1>Get Updates</h1>
<mat-card style="margin-bottom: 10px;">
	<mat-card-content>
		
        <!-- TODO: Finish this later to embed the signup form on the site. -->
        <!-- <form (ngSubmit)="onSubmit()" action="https://www.aweber.com/scripts/addlead.pl" method="post">
            <div style="display: none;">
                <input type="hidden" name="meta_web_form_id" value="131622307" />
                <input type="hidden" name="meta_split_id" value="" />
                <input type="hidden" name="listname" value="awlist5994084" />
                <input type="hidden" name="redirect" value="https://jabhunter.com/signup-thankyou" id="redirect_c6d706a4fbb0c289a8e2ac4b79fc5252" />
                <input type="hidden" name="meta_adtracking" value="JabHunter.com_Updates" />
                <input type="hidden" name="meta_message" value="1001" />
                <input type="hidden" name="meta_forward_vars" value="1" />
                <input type="hidden" name="meta_tooltip" value="" />
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your nane</mat-label>
                    <input type="text" matInput placeholder="John Smith" [formControl]="name" required>
                    <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Enter your email</mat-label>
                    <input type="text" matInput placeholder="john@example.com" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <p>If you would like to also receive updates by text message please enter a phone number. (optional) </p>
                <mat-form-field appearance="fill">
                    <mat-label>Phone Number</mat-label>
                    <input type="text" matInput placeholder="949-987-6543" [formControl]="phone">
                    <mat-error *ngIf="phone.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button class="btn btn-primary" (click)="submitForm()">
                    Submit
                </button>
                <button mat-raised-button class="btn btn-warning" (click)="cancel()">
                    Cancel
                </button>
                <br>
                <br>
                <p>We respect your <a title="Privacy Policy" href="https://www.aweber.com/permission.htm" target="_blank" rel="nofollow">email privacy</a></p>
            </div>
            <div style="display: none;"><img src="https://forms.aweber.com/form/displays.htm?id=jMyMbExMzAzs" alt="" /></div>
		</form> -->
	</mat-card-content>
</mat-card>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->