.home-button-row .mat-button-base {
  margin: 6px;
}

a:link,
a:visited {
  text-decoration: none;
}

.home-flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 6px;
}

.home-mat-panel-description {
  justify-content: left;
}

.home-title-flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 4% 2%;
}

.home-subtitle-flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  margin: 4% 2%;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

// Filter

.example-container {
  height: 400px;
  overflow: auto;
}

.element-row {
  position: relative;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}
