<div class="home-button-row">
  <div class="home-flex-container mat-button-base">
    <a mat-flat-button color="accent"
      href="https://docs.google.com/forms/d/e/1FAIpQLSdbVPo3K4PtE8xa46KPCTHKaYvQL1TtU4wcehsG_-VpsqNOow/viewform?usp=sf_link"
      target="_blank">Add Report</a>
    <a mat-flat-button color="primary" href="https://forms.aweber.com/form/07/131622307.htm" target="_blank">Get
      Notified</a>
    <a mat-flat-button color="primary" routerLink="/howto">How to Hunt</a>
  </div>
</div>
<mat-divider></mat-divider>
<h1 class="home-title-flex-container mat-headline">Latest Hunting Reports</h1>
<div class="home-subtitle-flex-container mat-body-1">Find expiring Covid-19 vaccine doses before they go to waste in
  Orange County, CA and the surrounding areas. <br />Going fast...get 'em while they're cold!</div>
<mat-divider></mat-divider>
<div class="example-container">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search">
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-table #table [dataSource]="dataSource" matSort>

      <!-- Name Column -->
      <ng-container matColumnDef="dateContacted">
        <mat-header-cell *matHeaderCellDef mat-sort-header> dateContacted </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.dateContacted}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="vaccineBrands">
        <mat-header-cell *matHeaderCellDef mat-sort-header> vaccineBrands </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.vaccineBrands}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef mat-sort-header> city </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.city}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> -->
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
    </mat-table>
  </div>
</div>
<!-- <ng-template #loading>
  <div class=" loading">
    <div class="lds-ripple">
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template> -->




<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
