
section {
    display: table;
  }
  
  .home-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .home-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .home-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .home-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .home-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/