<div class="home-button-row">
  <div class="home-flex-container mat-button-base">
    <a mat-flat-button color="accent"
      href="https://docs.google.com/forms/d/e/1FAIpQLSdbVPo3K4PtE8xa46KPCTHKaYvQL1TtU4wcehsG_-VpsqNOow/viewform?usp=sf_link"
      target="_blank">Add Report</a>
    <a mat-flat-button color="primary" href="https://forms.aweber.com/form/07/131622307.htm" target="_blank">Get
      Notified</a>
    <a mat-flat-button color="primary" routerLink="/howto">How to Hunt</a>
  </div>
</div>
<h1 class="home-title-flex-container mat-headline">Latest Hunting Reports</h1>
<div class="example-contaner">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="dateContacted">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date Contacted </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.dateContacted}} </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="vaccineBrands">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Vaccine Brands </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.vaccineBrands}} </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header> City </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.city}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [cdkDetailRow]="row"
      [cdkDetailRowTpl]="tpl">
    </mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
<!-- removed let-element  -->
<!-- *ngFor="let location of locations$ | async" -->
<ng-template #tpl>
  <div class="mat-row detail-row" [@detailExpand] style="overflow: hidden">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class=" example-header-image">
        </div>
        <mat-card-title>name</mat-card-title>
        <mat-card-subtitle>streetAddress, city, zipcode, county</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Vacccine Brand: Johnson & Johnson</p>
        <p>Date Contacted: Today</p>
        <p>Appoints: Yes</p>
        <p>In Stock: Yes</p>
        <p> Notes:
          L.A. County Supervisor Janice Hahn has partnered with FEMA and CAL/OES on a vaccine clinic in Hawaiian Gardens
          and
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="accent">Map</button>
        <button mat-button color="primary"><a href="#">Link To Website</a></button>
        <button mat-button color="primary" target="_blank">Email</button>
        <button mat-button color="primary">Share</button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-template>
